body {
    text-align: center;
    background-color:bisque;
    color: white;
    margin: none;
}

.card {
    border-radius: 5%;
    padding: 1%;
    background-color:darkslategrey;
    width: 15rem;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10rem;
}

.card{
    box-shadow: 1rem 2rem 2rem 1rem rgba(0, 0, 0, 0.2), 0 1rem 1rem 0 rgba(0, 0, 0, 0.19);
}

.card-img {
    width: 90%;
    padding: 2% 1%;
    border-radius: 10%;

}

.card-text {
    padding: 3%;
    padding-bottom: none;
    font-weight: bolder;
    font-size: large;
}

.card-text-2{
    padding: 3%;
    padding-top: none;
}

@media only screen and (max-width: "300px") {
    body{
        background-color: blueviolet;
    }
}